In [2]:
import pandas as pd
import numpy as np
from feature_selection import fetureSelection
from generate_DNA_Sequence import generateDNASequence
from active_learning_classifier import ActiveLearningAlgorithm

# Load Dataset and Explore Dataset

In [3]:
df = pd.read_csv('./dataset/RansomwareData.csv')

In [4]:
df.shape

(1523, 30970)

In [13]:
df

,10001,1,2,0,0.1,0.2,0.3,0.4,0.5,0.6,...,0.30925,0.30926,0.30927,0.30928,0.30929,0.30930,0.30931,0.30932,0.30933,0.30934
0,10002,1,3,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,10003,1,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10005,1,5,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10006,1,7,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,10007,1,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1518,21254,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1519,21255,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1520,21256,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1521,21258,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1522,21259,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
X = df.drop(columns=['10001', '1', '2'])

In [15]:
y = df[['1']]

In [16]:
X

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.30925,0.30926,0.30927,0.30928,0.30929,0.30930,0.30931,0.30932,0.30933,0.30934
0,1,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,1,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1518,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1519,0,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1520,0,0,1,0,1,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1521,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1522,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
y

      1
0     1
1     1
2     1
3     1
4     1
...  ..
1518  0
1519  0
1520  0
1521  0
1522  0

[1523 rows x 1 columns]

# Data Preprocessing

# Training Phase

In [ ]:
ala = ActiveLearningAlgorithm()
ala.fit(X_train)

# Testing Phase and Evaluation Metrics